/* BASIC SETTING START HERE  */
*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* BASIC SETTING END HERE  */
.converter-cintainer 
{
    max-width: 800px;
    height: auto;
    background-color: #000000;
    border-radius: 3px;
}
.converter 
{
    max-width: 600px;
    height: auto;
    background-color: #1f1e1e;
    border-left: 1px solid goldenrod;
    border-bottom: 1px solid goldenrod;
    border-radius: 3px;
    

    
}
.option 
{
    max-width:200px;
    height: auto;
    text-align: right;
    font-weight: bold;
    color: gray;
}